<h1 class="sidebar">CoderHouseApp</h1>
{{> chat}}
{{!-- <aside class="userListContainer">
  <h4>Usuarios conectados</h4>
  <ul id="userList"></ul>
</aside> --}}

{{!-- {{> chat}} es una parcial (partial) en Handlebars.
Se usa para incluir otra plantilla (chat.hbs) dentro de esta.
Esto permite reutilizar código y mantener las plantillas más organizadas. --}}